middleware/xplain2sql.dtd

<!-- DTD for the XML dump  of all SQL code generated by xplain2qsl -->

<!ELEMENT sql (table|storedProcedure)*>

<!ELEMENT table (column*)>
<!ATTLIST table
  xplainName CDATA #REQUIRED
  xplainDomain CDATA #IMPLIED
  sqlName CDATA #REQUIRED
  identifier CDATA #REQUIRED
  sqlNameAsEiffelString CDATA #REQUIRED
  sqlNameAsCString CDATA #REQUIRED
  spDelete CDATA #IMPLIED
  spDeleteAsEiffelString CDATA #IMPLIED
  spDeleteAsCString CDATA #IMPLIED
  spInsert CDATA #IMPLIED
  spInsertAsEiffelString CDATA #IMPLIED
  spInsertAsCString CDATA #IMPLIED
  spUpdate CDATA #IMPLIED
  spUpdateAsEiffelString CDATA #IMPLIED
  spUpdateAsCString CDATA #IMPLIED>

<!ELEMENT column EMPTY>
<!ATTLIST column
  xplainName CDATA #IMPLIED
  xplainDomain CDATA #IMPLIED
  sqlName CDATA #REQUIRED
  sqlType CDATA #REQUIRED
  identifier CDATA #REQUIRED
  sqlNameAsEiffelString CDATA #REQUIRED
  sqlNameAsCString CDATA #REQUIRED>

<!ELEMENT storedProcedure EMPTY>
<!ATTLIST storedProcedure
  xplainName CDATA #REQUIRED
  sqlName CDATA #REQUIRED
  identifier CDATA #REQUIRED
  sqlNameAsEiffelString CDATA #REQUIRED
  sqlNameAsCString CDATA #REQUIRED>
